Repository gwdetchar/gwdetchar, pull requests merged in 2019-09, with the labels that each got.

#352 Iconic footer information
  gwdetchar/io/html.py
  gwdetchar/io/tests/test_html.py
  share/sass/gwdetchar.scss
Labels: downstream:gwsumm, downstream:hveto, enhancement, html

#353 Minor enhancements for generic page layout
  share/js/gwdetchar.js
  share/sass/gwdetchar.scss
Labels: html

#348 Add spectrum plots for band passes
  bin/gwdetchar-lasso-correlation
  gwdetchar/lasso/plot.py
Labels: enhancement, html, lasso
