Repository gwdetchar/gwdetchar, pull requests merged in 2019-03, with the labels that each got.

#239 Resolve a build failure after glue upgrade
  gwdetchar/io/tests/test_html.py
Labels: bug-fix

#244 Resolve a fatal bug in frame reading
  gwdetchar/io/datafind.py
Labels: bug-fix

#245 Restore output directories for batch-mode omega scans
  bin/gwdetchar-omega-batch
Labels: bug-fix, omega scans

#248 Set LaTeX params at runtime, rather than at the module level
  bin/gwdetchar-mct
  bin/gwdetchar-overflow
  bin/gwdetchar-scattering
  bin/gwdetchar-software-saturations
  gwdetchar/plot.py
Labels: bug-fix, omega scans

#249 Read LASSO primary channel from the requested frametype
  bin/gwdetchar-lasso-correlation
Labels: bug-fix

#250 write_params has been moved to a submodule
  bin/gwdetchar-lasso-correlation
Labels: bug-fix

#243 Increase coverage of unit tests
  bin/gwdetchar-lasso-correlation
  gwdetchar/io/tests/test_datafind.py
  gwdetchar/io/tests/test_html.py
  gwdetchar/lasso/plot.py
  gwdetchar/lasso/tests/test_plot.py
  gwdetchar/omega/config.py
  gwdetchar/omega/plot.py
  gwdetchar/omega/tests/test_config.py
  gwdetchar/omega/tests/test_core.py
  gwdetchar/omega/tests/test_html.py
  gwdetchar/tests/test_daq.py
  gwdetchar/tests/test_saturation.py
  gwdetchar/utils.py
  setup.cfg
Labels: bug-fix, build-and-test, enhancement, lasso, omega scans

#251 Restore syntax highlighting on omega scan 'about' pages
  gwdetchar/omega/html.py
  gwdetchar/omega/tests/test_html.py
  requirements.txt
  setup.
  setup.py
Labels: enhancement, omega scans

#253 Address feature requests for O3 scattering
  bin/gwdetchar-scattering
Labels: feature-request

#255 Loosen the omega scan FAR threshold to 1/year
  bin/gwdetchar-omega
  bin/gwdetchar-omega-batch
Labels: enhancement, feature-request, omega scans

#257 Rearranging HTML for overflows and software saturations
  bin/gwdetchar-overflow
  bin/gwdetchar-scattering
  bin/gwdetchar-slow-correlation
  bin/gwdetchar-software-saturations
  gwdetchar/io/html.py
  gwdetchar/io/tests/test_html.py
  gwdetchar/plot.py
Labels: enhancement, feature-request, html, overflow, scattering, software saturations

#258 Stamp every script's output with an HTML footer
  bin/gwdetchar-lasso-correlation
  bin/gwdetchar-overflow
  bin/gwdetchar-scattering
  bin/gwdetchar-slow-correlation
  bin/gwdetchar-software-saturations
  gwdetchar/io/html.py
  gwdetchar/io/tests/test_html.py
  gwdetchar/omega/html.py
  gwdetchar/omega/tests/test_html.py
Labels: enhancement, feature-request, html, lasso, omega scans, overflow, scattering, software saturations

#263 Squash a couple of bugs in Lasso
  bin/gwdetchar-lasso-correlation
Labels: bug-fix, lasso

#262 Move fancybox constructors upstream for wider use
  bin/gwdetchar-lasso-correlation
  bin/gwdetchar-scattering
  bin/gwdetchar-slow-correlation
  gwdetchar/io/html.py
  gwdetchar/io/tests/test_html.py
  gwdetchar/omega/config.py
  gwdetchar/omega/html.py
  gwdetchar/omega/tests/test_config.py
  gwdetchar/omega/tests/test_html.py
Labels: enhancement, html, lasso, overflow, scattering, software saturations

#261 Use a common utility to render HTML 'about' sections
  bin/gwdetchar-lasso-correlation
  bin/gwdetchar-overflow
  bin/gwdetchar-scattering
  bin/gwdetchar-slow-correlation
  bin/gwdetchar-software-saturations
  gwdetchar/io/html.py
  gwdetchar/io/tests/test_html.py
Labels: enhancement, html, lasso, overflow, scattering, software saturations

#260 Misc. formatting enhancements for omega scans
  bin/gwdetchar-omega
  bin/gwdetchar-omega-batch
  gwdetchar/omega/config.py
  gwdetchar/omega/core.py
Labels: enhancement, feature-request, omega scans

#264 Added package_list and package_table functions
  gwdetchar/io/html.py
  gwdetchar/io/tests/test_html.py
  gwdetchar/omega/html.py
Labels: enhancement, html, omega scans

#266 Pedantic formatting update
  bin/gwdetchar-omega
Labels: enhancement, omega scans

#267 Automatically exclude missing channels
  bin/gwdetchar-omega
  bin/gwdetchar-overflow
  bin/gwdetchar-scattering
  gwdetchar/io/datafind.py
  gwdetchar/io/tests/test_datafind.py
  gwdetchar/saturation.py
  gwdetchar/tests/test_saturation.py
Labels: bug-fix, enhancement, lasso, omega scans, overflow, scattering, software saturations

#268 Gracefully handle large-memory SVG files
  gwdetchar/io/html.py
Labels: bug-fix, downstream:hveto, enhancement

#269 Explicitly support reading minute trend frames for lasso
  bin/gwdetchar-lasso-correlation
  bin/gwdetchar-scattering
  bin/gwdetchar-slow-correlation
  gwdetchar/io/datafind.py
Labels: bug-fix, enhancement, lasso, scattering

#270 Last round of python3 compliance issues
  bin/gwdetchar-lasso-correlation
Labels: bug-fix, enhancement, lasso

#274 conlog: Add constant channel detection
  bin/gwdetchar-conlog
Labels: enhancement

#275 Enhancements to gwdetchar-conlog
  bin/gwdetchar-conlog
Labels: conlog, enhancement, feature-request

#276 Refactor HTML constructors for general use
  .travis.yml
  bin/gwdetchar-lasso-correlation
  bin/gwdetchar-overflow
  bin/gwdetchar-scattering
  bin/gwdetchar-slow-correlation
  bin/gwdetchar-software-saturations
  gwdetchar/io/html.py
  gwdetchar/io/tests/test_html.py
  gwdetchar/omega/html.py
  gwdetchar/omega/tests/test_html.py
  requirements.txt
  setup.py
  share/js/gwdetchar.js
  share/sass/gwdetchar.scss
Labels: enhancement, html, lasso, omega scans, overflow, scattering, software saturations

#278 Support additional footer content
  gwdetchar/io/html.py
Labels: enhancement, html

#279 Use a colo(u)rful version of python's logging utility
  bin/gwdetchar-conlog
  bin/gwdetchar-lasso-correlation
  bin/gwdetchar-mct
  bin/gwdetchar-omega
  bin/gwdetchar-omega-batch
  bin/gwdetchar-overflow
  bin/gwdetchar-scattering
  bin/gwdetchar-slow-correlation
  bin/gwdetchar-software-saturations
  gwdetchar/cli.py
  gwdetchar/io/datafind.py
  gwdetchar/io/html.py
  gwdetchar/io/tests/test_html.py
  gwdetchar/omega/config.py
  gwdetchar/omega/core.py
  gwdetchar/omega/plot.py
  gwdetchar/tests/test_cli.py
  requirements.txt
  setup.py
Labels: conlog, enhancement, feature-request, lasso, omega scans, overflow, scattering, software saturations

#280 Bugfixes for colored logs
  bin/gwdetchar-lasso-correlation
  bin/gwdetchar-omega
  bin/gwdetchar-overflow
  bin/gwdetchar-scattering
  bin/gwdetchar-slow-correlation
  bin/gwdetchar-software-saturations
  gwdetchar/io/html.py
  gwdetchar/io/tests/test_html.py
Labels: bug-fix, scattering

#281 Remove custom panel formatting
  gwdetchar/omega/html.py
  gwdetchar/omega/tests/test_html.py
  share/sass/gwdetchar.scss
Labels: enhancement, html, lasso, omega scans, overflow, scattering, software saturations

#283 Crop off unrequested data from minute trends
  bin/gwdetchar-lasso-correlation
Labels: bug-fix, lasso

#282 changes in PeakF limits and writing a csv file
  bin/gwdetchar-scattering
Labels: enhancement, html, scattering

#285 Minor formatting improvements to gwdetchar-scattering
  bin/gwdetchar-scattering
Labels: bug-fix, scattering

#284 Condor checkpointing for omega scans
  bin/gwdetchar-omega
  bin/gwdetchar-omega-batch
  gwdetchar/omega/config.py
  gwdetchar/omega/html.py
  gwdetchar/omega/tests/test_config.py
  gwdetchar/omega/tests/test_html.py
Labels: enhancement, feature-request, omega scans

#286 Fix frequency axis limits in scattering plots
  bin/gwdetchar-scattering
Labels: bug-fix, scattering
