Repository gwdetchar/gwdetchar, pull requests merged in 2019-06, with the labels that each got.

#332 Use Roboto font in HTML
  gwdetchar/io/html.py
  gwdetchar/io/tests/test_html.py
  gwdetchar/omega/plot.py
  share/sass/gwdetchar.scss
Labels: enhancement, html, omega scans

#333 Embiggify and de-whiten the navbar text (for mobile screens)
  gwdetchar/io/html.py
  gwdetchar/io/tests/test_html.py
  share/sass/gwdetchar.scss
Labels: enhancement, html

#331 Remove the deprecated wdq-batch tool
  bin/wdq-batch
Labels: omega scans

#334 Remove (most) custom omega scan plotting rcParams
  gwdetchar/omega/plot.py
Labels: omega scans

#336 Omega scan plotting refinements, take 2
  gwdetchar/omega/plot.py
Labels: enhancement, omega scans

#337 Allow explicit pointers to HTML paths
  gwdetchar/io/html.py
Labels: downstream:gwsumm, enhancement, html

#338 Resolve static URLs correctly
  gwdetchar/io/html.py
  gwdetchar/io/tests/test_html.py
Labels: downstream:gwsumm, enhancement, html

#335 Include a top-of-page button for ease of navigation
  gwdetchar/io/html.py
  gwdetchar/io/tests/test_html.py
  gwdetchar/omega/html.py
  gwdetchar/omega/tests/test_html.py
  share/js/gwdetchar.js
  share/sass/gwdetchar.scss
Labels: enhancement, html, omega scans

#339 Define a CSS class, rather than an ID reference
  gwdetchar/io/html.py
  share/sass/gwdetchar.scss
Labels: enhancement, html

#342 Transmons for scattering segments.
  bin/gwdetchar-scattering
  gwdetchar/scattering/core.py
  gwdetchar/scattering/tests/test_core.py
Labels: enhancement, feature-request, scattering

#343 Bugfixes for scattering HTML
  bin/gwdetchar-scattering
  share/js/gwdetchar.js
Labels: bug-fix, html, scattering
