Repository gwdetchar/gwdetchar, pull requests merged in 2023-11, with the labels that each got.

#446 Update readthedocs CI configuration
  .readthedocs.yml
Labels: build-and-test

#445 Exclude OAF-CAL_RANGE in addition to OAF-RANGE channels from LASSO
  gwdetchar/lasso/__main__.py
Labels: lasso

#444 Allow generic file names when using FancyPlot
  gwdetchar/io/html.py
Labels: enhancement, html
